:root {
  --light-white: #f6f6f6;
  --light-red: #ec7160;
  --white: #ffffff;
  --black: black;

  --line-height: 1.5;
  --default-padding: 2rem;
  --border-radius: 0.5rem;
  --timing-animation: 0.2s;

  --ff_poppins: "Poppins", sans-serif;
}
